body {
    margin: 0;
    padding:0 ;
}

ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

ul li:hover {
    cursor: pointer;
    color: blue;
}