:root {
    --principal:#6B2AEE;
    --secundaria:#02E7D9;
    --terceira:#581ECD;
    --color-texto-lgray:#e5e5e5;
    --color-texto-dgray:#707070;
    --color-texto-dois:#2C3A57;
}

html, body {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    max-width: 1440px;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

.btn-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.btns-navbar {
    border: none;
    border-radius: 35px;
    padding: 12px;
    cursor: pointer;
}

.purple {
    background-color: var(--principal);
    color: #fff;
    font-size: 12px;
}

.transparent {
    background-color: transparent;
    color: var(--principal);
}

.elipse {
    width: 150px;
    height: 150px;
    background-color:var(--secundaria);
    border-radius: 50%;
    position: absolute;
    top: 1915px;
    left:50px;
    motion-rotation: -180deg;
}