table {
    width: 500px;
    margin: auto;
    text-align: left;
    border-collapse: collapse;
}

th {
    border-bottom: 2px solid black;
    padding: 8px;
}

td {
    border-bottom: 1px solid black;
    padding: 8px;
}

td:first-child {
    font-weight: 700;
}

tbody tr:hover {
    background-color: rgb(128, 128, 128, 0.5);
}