html {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.flex {
    border: 3px solid;
    background-color: rgba(187, 196, 204, 0.452);
    margin: 3.1rem 1.3rem;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.item {
    padding: 1.5rem;
    background-color: #4e56ff;
    border: 3px solid green;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 900;
}
