html {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.flex {
    border: 3px solid;
    background-color: rgba(187, 196, 204, 0.452);
    margin: 3.1rem 1.3rem;
    height: 200px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.item {
    padding: 1.5rem;
    background-color: #4e56ff;
    border: 3px solid green;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 900;
}

.flex .start {
    align-self: flex-start;
}

.flex .end {
    align-self: flex-end;
}

.item:first-child {
    align-self: center;
    flex-grow: 1;
}

.item:nth-child(5) {
    align-self: stretch;
    flex-grow: 1;
}