* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    max-width: 770px;
    margin: 0px auto;
}

.titulo {
    text-align: center;
    margin: 1.5rem 0px;
}

.content {
    display: grid;
    grid-template-rows: auto;
    gap: 1rem;

    padding: 0.5rem;
}

.content .conteudo h2, .content .conteudo p {
    margin-bottom: 0.7rem;
}

.conteudo p {
    margin-left: 1rem;
}

.conteudo a,abbr {
    font-weight: 600;
    text-decoration: none;
    color: dodgerblue;
}

.conteudo a:hover,abbr:hover {
    cursor: help;
}

.conteudo a:visited {
    color: dodgerblue;
}

.conteudo code {
    
    font-weight: bold;
    letter-spacing: 1px;
}