body {
    margin: 0;
    padding:0;
}

ul {
    margin:0 0 20px 0;
    display: inline-flex;
    top: 0;
    width: 100%;
    position: fixed;
    padding: 20px 0;
    justify-content: space-evenly;
    gap: 20px;
    background-color: brown;

}

li {
    list-style: none;
    font-size: 18px;
    color: white;
}

p {
    margin: 10%;
}

.icone {
    position: fixed;
    bottom: 30px;
    left: 30px;
}

.m-bottom {
    height: 2000px;
}