html,
body {
    margin: 0;
    padding: 0;
}

/* HEADER */
header .nav-menu {
    background-color: black;
    display: flex;
    padding: 20px 150px;
    justify-content: space-between;
}

header .menu {
    margin: 0px;
    list-style: none;
    display: flex;
    gap: 25px;
}

ul a {
    text-decoration: none;
    color: white;
}

input[type="text"] {
    padding: 10px 30px;
    border-radius: 6px;
    border: none;
}

.btn-menu {
    padding: 10px 15px;
    background-color: black;
    color: rgb(88, 31, 235);
    border: 1px solid rgb(88, 31, 235);
    border-radius: 6px;
}

/* MAIN */
.container {
    max-width: 1200px;
    margin: 0px auto;
}

.titulo {
    margin: 60px 0px;
    text-align: center;
}

.titulo p {
    max-width: 500px;
    margin: 25px auto;
}


/* FOOTER */


/* BREAKPOINT */