* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    margin: 8px;
}

.form-user {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-user input {
    height: 24px;
}

.form-user input,
.form-user textarea {
    width: 100%;
    border: none;
    background-color:  #bababa;
    border-radius:3px;
    padding: 3px;
}

.form-user input:focus,
.form-user textarea:focus {
    outline: none;
}

.form-user button {
    font-weight: 600;
    height: 25px;
    border-radius: 3px;
    background-color: #3dd26a;
    border: none;
}

.form-user button:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: .3s;
}

.name-mail {
    display: flex;
    background-color: #bababa;
    align-items: center;
    border-radius: 3px;
    padding: 1px;
}

.name-mail img {
    width: 30px;
    height: 30px;
}

.form-user input[type=email] {
}