table,td,th {
    border: 5px solid rgb(255, 255, 255);
    border-collapse: collapse;
}

td, th {
    width: 200px;
    text-align: center;
}

th {
    background-color: rgb(127, 255, 212);
    font-size: 1.5rem;
}

td {
    background-color: rgba(128, 128, 128, 0.4);
    font-size: 1.1rem;
    font-weight:100;
}
