body {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

div {
    border: solid 3px rgb(128,128,128);
}

#div-pai {
    background-color: rgb(179, 179, 76);
    padding: 3px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.divs {
    background-color: antiquewhite;
    padding: 5px;
    margin: 5px;
    text-align: center;
    width: 50px;
    height: 50px;
}

.divs:hover {
    cursor: pointer;
}

.divs:active {
    background-color: aqua;
}